
extends layout

block content
  .container
    .row.home-content
      .col.m12.l8#home-content-text
        //- content from MD file
        !=contents['index.md'].html
      .col.m4.l4.center-align.valign-wrapper#home-side-image
        img(src=contents['index.md'].metadata.image).valign
    .row
      .embed-container
        iframe(src=contents['index.md'].metadata.video frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen)
    //- .row
    //-   .col.s12.m4
    //-     .icon-block
    //-       h2.center.brown-text
    //-         i.material-icons flash_on
    //-       h5.center Speeds up development
    //-       p.light
    //-         | We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.
    //-   .col.s12.m4
    //-     .icon-block
    //-       h2.center.brown-text
    //-         i.material-icons group
    //-       h5.center User Experience Focused
    //-       p.light
    //-         | By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.
    //-   .col.s12.m4
    //-     .icon-block
    //-       h2.center.brown-text
    //-         i.material-icons settings
    //-       h5.center Easy to work with
    //-       p.light
    //-         | We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.
    //- 
    //- .row
    //-   div.grid
    //-     div.grid-sizer
    //-     each article in articles
    //-       div.grid-item.effect-duke
    //-         img(src="#{article.url}thumb.jpg")
    //-         figcaption
    //-           h2: a: span #{article.title} 
    //-           //- p #{article.excerpt}
    //-           p Duke is very bored. When he looks at the sky, he feels to run. When Goliath comes out, you should run.
    //-           a(href=article.url) View more
    //-         br

  //- include author
  //- each article in articles
  //-   article.article.intro
  //-     header
  //-       p.date
  //-         span= moment.utc(article.date).format('DD. MMMM YYYY')
  //-       h2
  //-         a(href=article.url)= article.title
  //-     section.content
  //-       if article.intro.length > 0
  //-         != typogr(article.intro).typogrify()
  //-       if article.hasMore
  //-         p.more
  //-           a(href=article.url) more
    .row
      block prepend footer
        div.nav
          if prevPage
            a(href=prevPage.url) &laquo; Newer
          else
            a(href='/archive.html') &laquo; Archives
          if nextPage
            a(href=nextPage.url) Next page &raquo;
