
extends layout

block content
  .container
    .row
      section.content!= typogr(page.html).typogrify()
    .row
      div.grid
        div.grid-sizer
        //- - console.log(env.helpers.getArticles(contents)[0].filepath.relative);
        //- - var list = env.helpers.getArticles(contents);
        //- - list = list.sort(function(a, b){return a.filepath.relative-b.filepath.relative}); 
        //- - console.log(list[1].filepath.relative);
        each article in env.helpers.getArticles(contents).sort(function(a,b){if(a.url>b.url) {return 1;}if(a.url<b.url){return -1;}return 0;})
          div.grid-item.effect-duke
            img(src="#{article.url}thumb.jpg")
            figcaption.valign-wrapper
              h3: a.yellow-bg.black-text: span #{article.title} 
              - console.log(article.title);
              p=article.metadata.excerpt
              a(href=article.url) View more
    .row
      block prepend footer
        //- div.nav
        //-   if prevPage
        //-     a(href=prevPage.url) &laquo; Newer
        //-   else
        //-     a(href='/archive.html') &laquo; Archives
        //-   if nextPage
        //-     a(href=nextPage.url) Next page &raquo;
